[Unit]
Description="Trading App Web"

[Service]
ExecStart=/usr/bin/java -jar /var/app/trading-app-0.0.1-SNAPSHOT.jar --server.port=80
WorkingDirectory=/var/app
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=TradingAppWeb

[Install]
WantedBy=multi-user.target